<p id="notice"><%= notice %></p>

<%- model_class = Article -%>
<div class="container">
  <!--<div class="page-header"><h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1></div>-->

  <div class="row mb-2">
    <% @articles.each do |article| %>
    <div class="col-4">
      <div class="card bg-light" style="max-width: 18rem;">
        <div class="card-header">
          <picture><%= image_tag(article.photo, class: 'img-fluid rounded') %></picture>
        </div>
        <div class="card-body"> <p class="card-title"><%= link_to article.title, article %> </p>
          <div class="dropdown-divider"></div>
          <p class="card-text"><%= article.items.count %> </p>
        </div>
        <div class="card-footer">
          <p><a class="card-text"><%= link_to 'Read More..', article %></a>
           </p>
          <div>
            <% if can? :update, article %>
              <%= link_to 'New Article', new_article_path %>||
              <%= link_to 'New Item', new_item_path %>
              <%= article.id %>
              <%= link_to 'Show', article %> ||
              <%= link_to 'Edit', edit_article_path(article) %> ||
              <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%end%>
          </div>
        </div>
      </div>

    </div>
    <% end %>
  </div><!--finished row-->
</div><!--finished container-->