<p id="notice"><%= notice %></p>

<%- model_class = Article -%>
<div class="container ">
  <!--<div class="page-header"><h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1></div>-->

  <div class="row mb-2 justify-content-center">
    <% @articles.each do |article| %>
       <div class="card border-0 bg-light mb-3 mr-5" style="max-width: 15rem; max-height: 30rem;">
          <picture><%= image_tag(article.photo, class: "card-img-top rounded") %></picture>
          <div class="card-body"> 
            <h5 class="card-title text-center font-weight-bold"><%= link_to article.title, article %></h5>
            <div class="dropdown-divider"></div>
            <h6 class="text-left font-weight-bold"><%= article.writer %></h6>
          </div>
          <div class="card-footer">
           <a class="text-center font-weight-bold">
            <%=  link_to( 'Read More ..', article,:target => :blank, :class => 'btn btn-warning btn-sm')%> <span class="badge badge-light text-right"><%= article.items.count %></span>
           </a>
          <div>
            <% if can? :update, article %>
              <%= link_to 'New Article', new_article_path %>||
              <%= link_to 'New Item', new_item_path %>
              <%= article.id %>
              <%= link_to 'Show', article %> ||
              <%= link_to 'Edit', edit_article_path(article) %> ||
              <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%end%>
          </div>
         </div>
        </div>
    <% end %>
  </div><!--finished row-->
</div><!--finished container-->