<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row justify-content-center">
    <div class = "col-md-12">
      <div class="card rounded ml-2 mb-3">
          <picture><%= image_tag(@article.photo, class: "card-img-top rounded") %></picture>
          <div class="card-img-overlay">
            <div class="container position-absolute mid-left">
              <P class="h3 font-weight-bold text-white mb-2"><%= @article.title %></p>
              <p class="h6 font-italic text-white"><%= @article.writer %>
              <%= @article.created_at.strftime("%b, %Y") %></p>
            </div>
          </div>
      </div>
    </div>
  </div>
  
  <div class="row justify-content-center">
    <div class = "col-md-9">
      <div class="container mt-2 ml-2 mb-2">
        <div class="text-justify mb-2"><%= @article.heading %></div>
      </div>
 
      <div class="articledetail-box">
        <div class="container mt-2 mb-2">
          <p class="h5 font-weight-bold mt-5 ml-2 mb-2"><u>Things to consider:</u></p>
          <% @article.articledetails.each do |articledetail| %>
            <ul>
              <li class="h5 font-weight-bold text-monospace ml-2 mb-2"><%= articledetail.title %></li>
            </ul>
          <% end %>
        </div>
      </div>

      <div class="container rounded ml-2 mb-3">
        <% @article.articledetails.each do |articledetail| %>
        <div class="row no-gutters">
          <div class="container ml-2 mb-2">
            <p class="h5 font-weight-bold mb-2">* <%= articledetail.title %></p>
            <div class="card-text text-justify"><%= articledetail.content %></div>
          </div>     
        </div>
        <% end %>
      </div> <!--end <div class="container rounded ml-2 mb-3"> -->
 
      <% @article.items.each do |item| %>
        <div class="card rounded ml-2 mb-3">
  	      <div class="row no-gutters">
  		      <div class="col-md-4">
              <picture><%= image_tag(item.image, class: 'fit-picture') %></picture>
  		      </div>
  		      <div class="col-md-7">
  			      <div class="container">
                <div class="row justify-content-center">
                  <div class ="h4 font-weight-bold text-center"><%= item.itemname %></div>
                </div>
                <p class="h6 font-italic"><%= item.created_at.strftime("%b, %Y") %></p>
                <div class="dropdown-divider"></div>
                <div  class="row justify-content-left ml-2">
                  <div class="text-justify"><%= item.itemdescription %></div>
                </div>
                <div class="dropdown-divider"></div>
                <div  class="row justify-content-between">
                  <p><%=  link_to( 'Product Link' , url_with_protocol(item.itemurl),:target => :blank, :class => 'btn btn-danger btn-md')%>
                  <font size="4" color = #0000FF><%= number_to_currency(item.itemprice, :unit => "@$")%></font></p>
                </div>
              </div>
  			    </div>	
			    </div>
		    </div>
	    <% end %>
      <div class="articledetail-conclusion">
        <div class="container">
          <p class="h5 font-weight-bold text-monospace mt-2 ml-2 mb-2"><u>Key Takeaways:</u></p>
          <div class="text-justify mb-2"><%= @article.conclusion %></div>
          <div class="dropdown-divider"></div>
   	    <div>
   		  <% if can? :update, @article %>
     	    <%= link_to 'Edit', edit_article_path(@article) %>
     	    <%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %>
          <%= link_to 'New About', new_article_path %>
        <%end%>
        <div><%= link_to 'Back', articles_path %></div>
      </div>
    </div><!----end container-->
  </div><!----article-conclusion-->
</div><!--col-md-10-->
