 <div class="container-fluid">
<div class="row">
 <nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <!--<a class="navbar-brand" href="#">DEalibaba.com</a>-->
    <div>
      <% logo = image_tag("wowmewiththatlogo1.png", :alt => "wowmewiththat.com") %>
      <%= link_to logo, root_path %>
    </div>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="nav nav-pills ">
        <li class="nav-item active">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Innovations</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a><%=  link_to 'Innovations', products_path %></a>
              <div class="dropdown-divider"></div>
              <a><%=  link_to( "Kids",products_path(productcategory: 'Kids')) %> </a>
              <div class="dropdown-divider"></div>
              <a><%=  link_to( "Hers" ,products_path(productcategory: 'Hers')) %></a>
              <div class="dropdown-divider"></div>
              <a><%=  link_to( "His" ,products_path(productcategory: 'His')) %></a>
              <div class="dropdown-divider"></div>
              <a><%=  link_to( "Gadgets" ,products_path(productcategory: 'Gadgets'))%></a>
              <div class="dropdown-divider"></div>
              <a><%=  link_to( "Pets" ,products_path(productcategory: 'Pets'))%></a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Browse Deals</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a><%=  link_to 'Weekly Adds', weeklyadds_path %></a>
              <div class="dropdown-divider"></div>
              <a><%=  link_to 'Associates', associates_path %></a>
              <div class="dropdown-divider"></div>
              <a><%=  link_to 'Deal Finders', finders_path %></a>
              <div class="dropdown-divider"></div>
              <a><%=  link_to 'Daily Deals', dailydeals_path %></a>
              <div class="dropdown-divider"></div>
              <a><%=  link_to 'Black Friday', blackfriday_path %></a>
              <div class="dropdown-divider"></div>
              <a><%=  link_to 'See All', dealers_path %></a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a><%=  link_to 'Articles', articles_path %></a>
              <div class="dropdown-divider"></div>
              <a><%=  link_to 'See All', articles_path %></a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Links</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a><%=  link_to 'About', abouts_path %></a>
              <div class="dropdown-divider"></div>
              <a><%=  link_to 'Contact', contacts_path %></a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% if user_signed_in? %>
                <a class="dropdown-item" href="#"><%= link_to('My Account', edit_user_registration_path) %></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></a>
                <div class="dropdown-divider"></div>
              <% else %>
                <a class="dropdown-item" href="#"><%= link_to("Sign in", new_user_session_path) %></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"><%= link_to("Sign up", new_user_registration_path) %></a>
              <% end %>
            </div>
          </li>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="row">
      <%= render 'shared/temp1'%>
</div>
</div>
