<nav class="height-full">
 <div class="fixed-left">
  <ul class="nav flex-column">
    <li class="nav-item">
        <a><%=  link_to 'Kids', root_path %></a>
      <div class="dropdown-divider"></div>
        <a><%=  link_to 'Hers', root_path %></a>
      <div class="dropdown-divider"></div>
        <a><%=  link_to 'His', root_path %></a>
      <div class="dropdown-divider"></div>
        <a><%=  link_to 'Pets', root_path %></a>
      <div class="dropdown-divider"></div>
        <a><%=  link_to 'See All', products_path %></a>
    </li>
  </ul>
 </div>
</nav>