<ul class="nav nav-tabs">
  <li class="nav-item">
    <a><%=  link_to 'Kids', products_path(productcategory: 'Kids') %></a>
  </li>
  <li class="nav-item">
    <a><%=  link_to 'Hers', products_path(productcategory: 'Hers') %></a>
  </li>
  <li class="nav-item">
    <a><%=  link_to 'His',  products_path(productcategory: 'His') %></a>
  </li>
  <li class="nav-item">
    <a><%=  link_to 'Pets', products_path(productcategory: 'Pets') %></a>
  </li>
  <li class="nav-item">
    <a><%=  link_to 'See All', products_path %></a>
  </li>
</ul>
