<div class="container-fluid">

 <nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top text-center" style="background-color: #e3f2fd;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNavDropdown">

 
    <a mr-2><%=  link_to( "See All",products_path, :class => 'btn btn-outline-info btn-block')%></a>

    <a><%=  link_to( "Kids" ,products_path(productcategory: 'Kids'), :class => 'btn btn-outline-info btn-block')%></a>
  
    <a><%=  link_to( "Hers" ,products_path(productcategory: 'Hers'), :class => 'btn btn-outline-info btn-block')%></a>

    <a><%=  link_to( "His" ,products_path(productcategory: 'His'), :class => 'btn btn-outline-info btn-block')%></a>
 
    <a><%=  link_to( "Gadgets" ,products_path(productcategory: 'Gadgets'), :class => 'btn btn-outline-info btn-block')%></a>

</div>
</nav>
</div>

