<nav class="height-full">
 <div class="fixed-left">
  <ul class="nav flex-column">
    <li class="nav-item">
        <a><%=  link_to 'Kids', products_path (productid: '1') %></a>
      <div class="dropdown-divider"></div>
        <a><%=  link_to 'Hers', products_path %></a>
      <div class="dropdown-divider"></div>
        <a><%=  link_to 'His', products_path %></a>
      <div class="dropdown-divider"></div>
        <a><%=  link_to 'Pets', products_path %></a>
      <div class="dropdown-divider"></div>
        <a><%=  link_to 'See All', products_path %></a>
    </li>
  </ul>
 </div>
</nav>