<%- model_class = Contact -%>
<div class="container">
  <div class="row">
    <div class="page-header">
      <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
    </div>
  </div><!--end row-->

  <div class="row">
    <% @contacts.each do |contact| %>
        <div class="card border-0 rounded bg-light mb-2 mr-2" style="max-width: 35rem; height: auto;">
          <div class="card-header font-weight-bold"><h4><%= contact.question %></h4></div>
            <div class="card-body"> 
              <p class="card-text"><%= contact.answer %></p>
            </div>

            <div class ="card-footer">
              <p class="card-text"><%= contact.email %></p>
              <% if can? :update, contact %>
                <%= link_to 'Show', contact %>
                <%= link_to 'Edit', edit_contact_path(contact) %>
                <%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %>
                <%= link_to 'New Contact', new_contact_path %>
              <%end%>
            </div>
          </div><!--end card-->
    <% end %>
  </div><!--end row-->
</div>