<%- model_class = Contact -%>
<div class="container">
  <div class="row">
    <div class="page-header">
      <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
    </div>
  </div><!--end row-->

  <div class="row">
    <% @contacts.each do |contact| %>
      <div class = "col-md-5">
        <div class="card bg-light mb-3" style="max-width: 35 rem;">
          <div class="card-header"><h4><%= contact.question %></h4></div>
            <div class="card-body"> 
              <p class="card-text"><%= contact.answer %></p>
            </div>

            <div class ="card-footer">
              <p class="card-text"><%= contact.email %></p>
              <% if can? :update, contact %>
                <p><%= link_to 'Show', contact %></p>
                <p><%= link_to 'Edit', edit_contact_path(contact) %></p>
                <p><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></p>
                <p><%= link_to 'New Contact', new_contact_path %></p>
              <%end%>
            </div>
          </div><!--end card-->
        </div><!--col 5-->
    <% end %>
  </div><!--end row-->
</div>