<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @contact.question %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @contact.answer %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
