<p id="notice"><%= notice %></p>
<!--Delete everything over this line.-->
<%- model_class = About -%>

 <div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
 </div>
<p id="notice"><%= notice %></p>

<div class="row">
  <% @abouts.each do |about| %>
    <div class = "col-md-6">
      <div class="card bg-light mb-3" style="max-width: 35 rem; opacity: 0.8;">
        <div class="container">
          <h5 class="card-header"><%= about.question %></h5>
          <p class="card-text"><%= about.answer %></p>

          <% if can? :update, about %>
            <p><%= link_to 'Show', about %></p>
            <p><%= link_to 'Edit', edit_about_path(about) %></p>
            <p><%= link_to 'Destroy', about, method: :delete, data: { confirm: 'Are you sure?' } %></p>
            <p><%= link_to 'New About', new_about_path %></p>
          <%end%>
        </div>
      </div>
    </div>
  <% end %>
</div>