<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @about.question %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @about.answer %>
</p>

<% if can? :update, about %>
<%= link_to 'Edit', edit_about_path(@about) %> |
<% end %>
<%= link_to 'Back', abouts_path %>
