<p id="notice"><%= notice %></p>

<p>
  <strong>Itemname:</strong>
  <%= @item.itemname %>
</p>

<p>
  <strong>Itemurl:</strong>
  <%= @item.itemurl %>
</p>

<p>
  <strong>Itemprice:</strong>
  <%= @item.itemprice %>
</p>

<p>
  <strong>Itembutton:</strong>
  <%= @item.itembutton %>
</p>

<p>
  <strong>Itemdescription:</strong>
  <%= @item.itemdescription %>
</p>

<p>
  <strong>Article:</strong>
  <%= @item.article_id %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
