<%- model_class = Product -%>
<div class="container ">
  <!--<div class="page-header"><h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1></div>-->

  <div class="row mb-2 justify-content-center">
    <% @products.each do |product| %>
        <div class = "card-deck mr-1">
        <div class="card border-0 rounded bg-light mb-3" style="max-width: 15rem;">
          <div class="card-header">
            <%= link_to(product.productname, url_with_protocol(product.producturl),:target => :blank) %>
          </div>
          <div class="card-body"> 
            <!--<img class="card-img-top" src= "<%= (product.picture) %>" alt="Card image cap">-->
            <picture><%= image_tag(product.picture, class: 'fit-picture') %></picture>
            <div class="dropdown-divider"></div>
            <p class="card-text"><%= product.productdescription %> </p>
            <div class="dropdown-divider"></div>
            <p class="card-text"><%= link_to( 'Review innovative gift', url_with_protocol(product.productresearch),:target => :blank) %></p>
          </div><!--end card-body -->
          <div class="card-footer">
            <p><a class="card-text"><%=  link_to( product.productbutton , url_with_protocol(product.producturl),:target => :blank, :class => 'btn btn-warning btn-sm')%></a>
            <a class="float-right"><font size="4" color = #0000FF><%= number_to_currency(product.productprice, :unit => "@$")%></font></a>
            </p>
            <div>
              <% if can? :update, product %>
                <%= product.id %>
                <%= check_box("tag", product.productvisible, {checked: true}) %>
                <%= link_to 'Show', product %> ||
                <%= link_to 'Edit', edit_product_path(product) %> ||
                <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>||
                <%= link_to 'New product', new_product_path %>
              <%end%>
            </div><!--end if division -->
          </div><!--end card-footer -->
        </div><!--end card -->
        </div><!--end card-deck -->
    <% end %>
  </div>
</div><!--finished container-->