<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Productid</th>
      <th>Productname</th>
      <th>Producturl</th>
      <th>Producttype</th>
      <th>Productprice</th>
      <th>Productpicture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.productid %></td>
        <td><%= product.productname %></td>
        <td><%= product.producturl %></td>
        <td><%= product.producttype %></td>
        <td><%= product.productprice %></td>
        <td><%= image_tag product.picture %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>


<!--delete everything above this line-->
<%- model_class = Product -%>
<div class="container-fluid">
 <!--<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
 </div>-->

 
 <p id="notice"><%= notice %></p>

  <div class="row mb-3">
   <% @products.each do |product| %>
  <div class="col-3 mt-1 mb-2">
      <div class = "product-box">


        <picture>
        <%= image_tag(product.image, class: 'fit-image') %>
        </picture>
          <ul>
            <li><%= link_to(product.productname, url_with_protocol(product.productTargetUrl),:target => :blank) %></li>
            <li><p  padding-top: 10%;><%= product.description %></p></li>
            <div class="dropdown-divider"></div>
            <li><%=  link_to('Lets Go!', url_with_protocol(product.productTargetUrl),:target => :blank, :class => 'btn btn-warning')%><div class="float-right"><font size="3" color = #0000FF><%= number_to_currency(product.price, :unit => "$")%></font></div></li>
          <% if can? :update, product %>
            <li><%= link_to 'Show', product %> ||
                <%= link_to 'Edit', edit_product_path(product) %> ||
                <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>||
                <%= link_to 'New product', new_product_path %>
            </li>
          <% end %>
        </ul>
        </div>
      </div><!--end div product box -->

  <% end %>
</div><!--finished row-->
</div><!--finished container-->