<%- model_class = Product -%>
<div class="container-fluid ">
  <!--<div class="page-header"><h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1></div>-->
  <div class="row mb-2 justify-content-center">
    <% @products.each do |product| %>
      <div class = "col-sm-3">
        <div class="card rounded bg-light mb-2" style="max-width: 32rem; height: 36rem;">
          <!--<%= image_tag(product.picture, class: "img-top") %>-->
          <div class="card-header">
            <%= image_tag(product.picture) %>
            <% if (product.animation.attached?) %>
              <%= image_tag(product.animation, class: "img-top") %>
            <% end %>
          </div>
          <div class="card-body">
            <h4 class="text-center font-weight-bold"> <%=  link_to( product.productname , url_with_protocol(product.producturl),      :target => :blank)%> </h4>
            <div class="dropdown-divider"></div>
            <div class= "container ml-2">
              <p class="text-left"><%= product.productdescription %> </p>
            </div>
          </div>
          <div class="card-footer">
            <h5 class="text-center"><%= link_to( 'Review Innovation ->', url_with_protocol(product.productresearch),:target => :blank, :class => 'btn btn-info btn-md') %> </h5> 
            <p><a class="card-text"><%=  link_to( product.productbutton , url_with_protocol(product.producturl),:target => :blank, :class => 'btn btn-danger btn-sm')%></a>
            <a class="float-right"><font size="4" color = #0000FF><%= number_to_currency(product.productprice, :unit => "@$")%></font></a>
                </p>
            <div>
              <% if can? :update, product %>
                <%= product.id %>
                <%= check_box("tag", product.productvisible, {checked: true}) %>
                <%= link_to 'Show', product %> ||
                <%= link_to 'Edit', edit_product_path(product) %> ||
                <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>||
                <%= link_to 'New product', new_product_path %>
              <%end%>
            </div><!--end if division -->
          </div><!--end card-footer -->
        </div><!--end card -->
      </div><!--col-sm-3 -->
    <% end %>
  </div><!--finished row-->
</div><!--finished container-->