<%- model_class = Product -%>
<div class="container ">
  <!--<div class="page-header"><h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1></div>-->

  <div class="row mb-2 justify-content-center">
    <% @products.each do |product| %>
    <% if product.productvisible? %>
        <div class="card border-0 rounded bg-light mb-3 mr-5" style="max-width: 15rem; max-height: 45rem;">
          <div class="card-header">
            <%= link_to(product.productname, url_with_protocol(product.producturl),:target => :blank) %>
          </div>
          <div class="card-body"> 
            <picture><%= image_tag(product.picture, class: 'fit-picture') %></picture>
            <div class="dropdown-divider"></div>
            <p class="card-text"><%= product.productdescription %> </p>
            <div class="dropdown-divider"></div>
            <p class="card-text"><%= link_to( 'Review innovative gift', url_with_protocol(product.productresearch),:target => :blank) %> </p>
          </div>
          <div class="card-footer">
            <p><a class="card-text"><%=  link_to( product.productbutton, url_with_protocol(product.producturl),:target => :blank, :class => 'btn btn-warning btn-sm')%></a>
            <a class="float-right"><font size="4" color = #0000FF><%= number_to_currency(product.productprice, :unit => "@$")%></font></a>
            </p>
          </div>
        </div>
    <% end %>
    <% end %>
  </div><!--finished row-->
</div><!--finished container-->