<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'dealibabahd.png'%>
    <title>Dealibaba</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><!--Amol added this line -->
    <%= render 'shared/alerts'%>
  </head>

  <body>
    <div class="row">

      <%= render 'shared/navbar'%>
    </div> 

  <div class="container-fluid">
      <%= yield %>
  </div>

  <div class="row">
      <%= render 'shared/footer'%> 
  </div>
  </body>
</html>
