<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= favicon_link_tag 'dealibabahd.png'%>
    <title>Dealibaba</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render 'shared/google'%>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><!--Amol added this line -->

  </head>


<div class="container-fluid">
  <body>
    <div class="row"><%= render 'shared/navbar'%></div>
    <div class="row mb 2">
      <%= render 'shared/temp1'%> 
      <%= render 'shared/alerts'%>
    </div>
    <div class="row mb 2">
      <%= yield %>
    </div>
    <div class="row"><%= render 'shared/footer'%></div>
  </body>
</div>
</html>
